---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Aboutme from '../components/Aboutme.astro';
import Services from '../components/Services.astro';
import Contact from '../components/Contact.astro'
---

<Layout title="MG Consultoría Legal" description="Te asesoramos y acompañamos. Ponemos a tu disposición nuestra vocación de ayudar.">
	<main>
		<SectionContainer class="h-screen lg:w-full px-10 py-32 pb-32 bg-cover bg-[url('/images/background.webp')] bg-gray-700/70 bg-blend-multiply">
	
				<div class="flex flex-col justify-center">
					<h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none  md:text-5xl lg:text-6xl text-white">MG Consultoría Legal</h1>
					<p class="mb-8 text-lg font-normal  lg:text-xl text-white">Te asesoramos y acompañamos, poniendo a tu disposición nuestra vocación de ayudar.</p>
					<div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0">
						<a href="#sobre-mi" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white bg-customBlue rounded-lg border border-customBrown hover:bg-customBlue/80 hover:text-customBrown focus:z-10 focus:ring-4 focus:ring-customBrown">
							Ver más
							<svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
							</svg>
						</a>
					</div>
				</div>
		</SectionContainer>

		

		<SectionContainer id="sobre-mi" class="pb-12">
			<h2 class="text-3xl text-customBlue font-semibold mb-6 text-center lg:text-start">Sobre mí</h2>
			<Aboutme />
		</SectionContainer>

		<hr class="mt-0 mb-2 border-customGray/10 mx-auto" />

		<SectionContainer id="servicios">
			<h2 class="text-3xl text-customBlue font-semibold mb-6 text-center lg:text-start">Servicios</h2>
			<Services />
		</SectionContainer>
		<hr class="mt-0 mb-2 border-customGray/10 mx-auto" />

		<SectionContainer id="contacto">
			<h2 class="text-3xl text-customBlue font-semibold mb-6 text-center lg:text-start">Contacto</h2>
			<Contact />
		</SectionContainer>

		
	</main>
</Layout>