---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Aboutme from '../components/Aboutme.astro';
import Services from '../components/Services.astro';
import Contact from '../components/Contact.astro'
---

<Layout title="MG Consultoría Legal" description="Te asesoramos y acompañamos. Ponemos a tu disposición nuestra vocación de ayudar.">
	<main>
		<SectionContainer class="h-screen lg:w-full px-10 py-32 pb-32 bg-cover bg-[url('/images/background.webp')] bg-gray-700/50 bg-blend-multiply">
	
				<div class="flex flex-col justify-center">
					<h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none  md:text-5xl lg:text-6xl text-white">MG Consultoría Legal</h1>
					<p class="mb-8 text-lg font-normal  lg:text-xl text-yellow-200">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
					<div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0">
						<a href="#sobre-mi" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white bg-blue-950 rounded-lg border border-yellow-200 hover:bg-blue-950/80 hover:text-yellow-200 focus:z-10 focus:ring-4 focus:ring-yellow-200">
							Ver más
							<svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
							</svg>
						</a>  

						
					</div>
				</div>
		</SectionContainer>

		<SectionContainer id="sobre-mi" class="pb-12">
			<h2 class="text-3xl text-blue-950 font-semibold mb-6 flex gap-x-3 items-center">
				<!-- <UserIcon class="size-8"/> -->
				Sobre mí
			</h2>
			<Aboutme />
		</SectionContainer>

		<SectionContainer id="servicios">
			<h2 class="text-3xl text-blue-950 font-semibold mb-6 flex gap-x-3 items-center">
				<!-- <ServicesIcon class="size-8"/> -->
				Servicios
			</h2>
			<Services />
		</SectionContainer>

		<SectionContainer id="contacto">
			<h2 class="text-3xl text-blue-950 font-semibold mb-6 flex gap-x-3 items-center">
				<!-- <ContactIcon class="size-8"/> -->
				Contacto
			</h2>
			<Contact />
		</SectionContainer>
		
	</main>
</Layout>