---
import SocialBadge from "./SocialBadge.astro"
import FacebookIcon from "../icons/Facebook.astro"
import InstagramIcon from "../icons/Instagram.astro"
import LinkedinIcon from "../icons/Linkedin.astro"
import MapIcon from "../icons/Map.astro"
import MatriculaIcon from "../icons/Matricula.astro"
import Button from "../components/Button.astro"
---

<div class="flex flex-col items-center md:flex-row md:justify-between md:items-start ">
    <div class="md:w-2/3 mx-4 mb-4">
        <p class="text-customBlue">Soy Alejandra Gutiérrez, abogada, mamá y escritora. A través de <strong>MG Consultoría Legal</strong> me propongo como misión brindar un asesoramiento legal de calidad, dando una solución integral a las necesidades de mis clientes, con la mejor defensa de sus intereses.</p>
        <p class="text-customBlue"> Me motiva defender sus derechos y de toda persona que requiera ser representada legalmente en la Ciudad Autónoma de Buenos Aires y/o en la Provincia de Buenos Aires, garantizando que tengan la oportunidad de hacer valer sus derechos, siempre respetando mis valores, que se basan en la responsabilidad, la honestidad, el compromiso y la calidad humana.</p>
    </div>
    <div class="w-full mb-4 md:w-1/3 border border-white/10  rounded-lg shadow bg-customBrown" >
        <div class="flex flex-col items-center py-10">
            <img class="w-30 h-36 mb-3 rounded-full shadow-lg" src="/images/profile_picture_MG.webp" alt="Alejandra Gutierrez photo"/>
            <h4 class="mb-1 text-xl font-medium text-customBlue">Alejandra Gutierrez</h4>
            <h5 class="text-sm text-customBlue">Abogada</h5>
            <div class="flex items-center">
                <MatriculaIcon class="size-4 md:size-6" stroke="#30475e"/>
                <p class="py-2 ms-2 text-sm text-customBlue font-medium">Matricula CABA y Pcia. Buenos Aires</p> 
            </div>
            <div class="flex items-center mt-4 md:mt-6">
                <MapIcon class="size-4 md:size-6" stroke="#30475e"/>
                <p class="py-2 ms-2 text-sm text-customBlue font-medium">Haedo, Buenos Aires, Argentina</p> 
            </div>
            <nav class="flex gap-4 mt-2">
                    
                <SocialBadge href="https://www.facebook.com/Dra.M.AlejandraGutierrez">
                    <FacebookIcon class="size-4 md:size-6" stroke="#30475e"/>
                </SocialBadge>
            
                <SocialBadge href="https://www.instagram.com/mgconsultorialegal/">
                    <InstagramIcon class="size-4 md:size-6" stroke="#30475e"/>
                </SocialBadge>

                <SocialBadge href="https://www.linkedin.com/in/alejandra-gutierrez-896b456b/">
                    <LinkedinIcon class="size-4 md:size-6" stroke="#30475e"/>
                </SocialBadge>
    
            </nav>

            <Button href="#contacto">
                Contacto
            </Button>
        </div>
    </div>
</div>