---
import MailIcon from '../icons/Mail.astro'
import WhatsappIcon from '../icons/Whatsapp.astro'
import ContactItem from './ContactItem.astro'
---


    
<div class="w-full p-4 text-center border border-white/10  rounded-lg shadow bg-customBrown">
    <h5 class="mb-2 text-3xl text-customBlue font-bold">Contactame</h5>
    <p class="mb-5 text-base text-customBlue">Ponte en contacto conmigo si deseas contratar mis servicios!</p>
    <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
        <ContactItem href="https://wa.me/5491134945574?text=Hola%2C%20me%20gustar%C3%ADa%20consultar%20sobre%20sus%20servicios" target="_blank">
            <WhatsappIcon class="size-7 me-3" stroke="#ffffff"/>
            <div class="text-left rtl:text-right">
                <div class="mb-1 text-xs">Enviar WhatsApp:</div>
                <div class="-mt-1 font-sans text-sm font-semibold">+541134945574</div>
            </div>
        </ContactItem>

        <ContactItem href="mailto:gutierrezmariaalejandra@hotmail.com">
            <MailIcon class="size-7 me-3"/>
            <div class="text-left rtl:text-right">
                <div class="mb-1 text-xs">Enviar mail:</div>
                <div class="-mt-1 font-sans text-sm font-semibold">gutierrezmariaalejandra@hotmail.com</div>
            </div>
        </ContactItem>
        
    </div>
</div>
  
