<a {... Astro.props} class="w-full sm:w-auto bg-blue-950 border-yellow-200 hover:bg-blue-950/80 hover:text-yellow-200 focus:ring-4 focus:outline-none focus:ring-yellow-200 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5">
    <slot />
</a>