---
import MailIcon from '../icons/Mail.astro'
import WhatsappIcon from '../icons/Whatsapp.astro'
import ContactItem from './ContactItem.astro'
---


    
<div class="w-full p-4 text-center border border-white/10  rounded-lg shadow bg-black/20">
    <h5 class="mb-2 text-3xl text-blue-950 font-bold">Contactame</h5>
    <p class="mb-5 text-base text-blue-950">Ponte en contacto conmigo si deseas contratar mis servicios!</p>
    <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
        <ContactItem href="https://wa.me/5491134945574?text=Hola%2C%20me%20gustar%C3%ADa%20consultar%20sobre%20sus%20servicios" target="_blank">
            <WhatsappIcon class="size-7 me-3" stroke="#ffffff"/>
            <div class="text-left rtl:text-right">
                <div class="mb-1 text-xs">Enviar WhatsApp:</div>
                <div class="-mt-1 font-sans text-sm font-semibold">+541134945574</div>
            </div>
        </ContactItem>

        <ContactItem href="mailto:agusfmartinez@outlook.com">
            <MailIcon class="size-7 me-3"/>
            <div class="text-left rtl:text-right">
                <div class="mb-1 text-xs">Enviar mail:</div>
                <div class="-mt-1 font-sans text-sm font-semibold">gutierrezmariaalejandra@hotmail.com</div>
            </div>
        </ContactItem>
        
    </div>
</div>

<!-- <form class="max-w-md mx-auto">
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="floating_first_name" id="floating_first_name" class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="floating_subject" id="floating_subject" class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_subject" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Asunto</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        
        <label for="message" class="block mb-2 text-sm font-medium text-gray-500 dark:text-white">Mensaje</label>
        <textarea id="message" rows="4" class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="Deja un mensaje..."></textarea>

    </div>
    <button type="submit" class="py-2 px-4 ms-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 ">Enviar</button>
</form> -->
  
