---
import FacebookIcon from "../icons/Facebook.astro"
import InstagramIcon from "../icons/Instagram.astro"
import LinkedinIcon from "../icons/Linkedin.astro"
---

<footer class="bg-blue-950 ">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:items-center md:justify-start gap-8">
            <div class="mb-6 md:mb-0">
                <a href="#" class="flex items-center">
                    <img src="/images/logoMG.webp" class="h-16 me-3 " alt="MG Logo" />
                </a>
            </div>
            <div class="flex justify-center w-full md:w-auto">
                <div>
                    <h2 class="mb-6 text-sm font-semibold  uppercase text-white">Redes Sociales</h2>
                    <div class="flex space-x-5">
                        <a href="#">
                            <FacebookIcon/>
                        </a>
                        <a href="#">
                            <InstagramIcon/>
                        </a>
                        <a href="#">
                            <LinkedinIcon/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto  lg:my-8" />
        <div class="flex flex-col items-center lg:items-start">
            <span class="text-sm text-yellow-200/80 sm:text-center ">© 2024 <a href="#" class="hover:underline">MG Consultoría Legal™</a>. All Rights Reserved.</span>
            <span class="text-sm sm:text-center text-yellow-200/80">Desarrollado por <a href="https://linkedin.com/in/agustinfmartinez" class="hover:underline">Agustin Martinez™</a>. 
        </div>
    </div>
</footer>
