---
import ServiceItem from './ServiceItem.astro'
import LaboralIcon from '../icons/Laboral.astro'
import FamiliaIcon from '../icons/Familia.astro'
import PrevisionalIcon from '../icons/Previsional.astro'
import CivilIcon from '../icons/Civil.astro'

const SERVICES = [
    {
        name: "Laboral",
        description: "Despidos - Trabajo en Negro - Diferencias Salariales - Accidentes de Trabajo - Enfermedades Profesionales - Cambio de Condiciones Laborales.",
        icon:LaboralIcon,
        asunto:"Solicitud asesoramiento - Laboral"
    },
    {
        name: "Familia",
        description: "Alimentos - Cuidad Personal - Régimen de Comunicación - Divorcios - Determinación de Capacidad Jurídica.",
        icon:FamiliaIcon,
        asunto:"Solicitud asesoramiento - Familia"
    },
    {
        name: "Previsional",
        description: "Jubilaciones con o sin aportes - Ama de Casa - Pensiones - Juicio por Reajustes.",
        icon:PrevisionalIcon,
        asunto:"Solicitud asesoramiento - Previsional"    
    },
    {
        name: "Civil",
        description: "Accidente de Tránsito - Daños y Perjuicios - Sucesiones - Desalojos - Usucapión - Cobros Ejecutivos.",
        icon:CivilIcon,
        asunto:"Solicitud asesoramiento - Civil"
    }
]
---
<div class="grid md:grid-cols-4 gap-4 my-4 ">
    {SERVICES.map((service) => (
        
        <ServiceItem {... service} />
        
        )) }   

</div>
