---
const {name, description,icon: IconComponent, asunto, mensaje} = Astro.props
import Button from "../components/Button.astro"
---

<div class="border bg-customBrown border-customBlue/10  rounded-lg shadow  hover:bg-customBrown/10 transition">
    <div class="flex flex-col items-center py-5 px-2">
        <IconComponent class="size-10" stroke="#30475e"/>
        <h4 class="mb-1 text-xl text-customBlue font-medium text-center">{name}</h4>
        <p class="ms-2 text-center text-customBlue text-xs font-light opacity-80">{description}</p> 
        <Button href={`mailto:gutierrezmariaalejandra@hotmail.com?subject=${encodeURIComponent(asunto)}&body=${encodeURIComponent(mensaje)}`}>
            Consultar Servicio
        </Button>
    </div>
</div>